<header>
  <button mat-icon-button [routerLink]="['/']">Home</button>
  <button mat-flat-button [routerLink]="['/classroom-request']">
    Submit Classroom Requests
  </button>
  <button mat-flat-button [routerLink]="['/room-assignments']">
    View Room Assignments
  </button>
  <button mat-flat-button [routerLink]="['/update-request']">
    Modify Requests
  </button>
  <button mat-flat-button [routerLink]="['/room-properties']">
    View Room Proerties
  </button>
  <button mat-flat-button [routerLink]="['/update-classroom']">
    Update Room Proerties
  </button>
</header>
