<html>
  <head>
    <!-- Other meta tags, title, etc. -->

    <!-- Link your custom CSS file -->
    <link rel="stylesheet" href="room-assignments.component.css" />
  </head>
  <body>
    <!-- Your table -->
    <h1>View room assignments!</h1>

    <table
      class="table table-striped"
      aria-labelledby="tableLabel"
      *ngIf="department.length"
    >
      <!-- Table header -->
      <thead>
        <tr>
          <th>Department Name</th>
          <th>Building Name</th>
          <th>Number of Classrooms</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <!-- Table rows -->
        <tr *ngFor="let department of department">
          <td>{{ department.departmentName }}</td>
          <td>{{ department.buildingName }}</td>
          <td>{{ department.numClassroom }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Your other content -->
  </body>
</html>
