<h1>View Rooms and Properties</h1>
<html>
  <head> </head>
  <body>
    <table
      class="table table-striped"
      aria-labelledby="tableLabel"
      *ngIf="classromms.length"
    >
      <!-- Table header -->
      <thead>
        <tr>
          <th>Room ID</th>
          <th>Equipment ID</th>
          <th>Room Number</th>
          <th>Capacity</th>
          <th>Start of Blackout Hours</th>
          <th>End of Blackout Hours</th>
          <th>Department</th>
          <th>Equipment</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>
        <!-- Table rows -->
        <tr *ngFor="let classromm of classromms">
          <td>{{ classromm.roomID }}</td>
          <td>{{ classromm.equipmentID }}</td>
          <td>{{ classromm.roomNum }}</td>
          <td>{{ classromm.capacity }}</td>
          <td>{{ classromm.blackoutHoursStart }}</td>
          <td>{{ classromm.blackoutHoursEnd }}</td>
          <td>{{ classromm.departmentName }}</td>
          <td>{{ classromm.equipmentType }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Your other content -->
  </body>
</html>
